<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Durus"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9027325451795162~7928458537" />
        <activity
            android:name="ustaz.muhammed.amin.player.VideoPlayManager"
            android:exported="false" />
        <activity
            android:name="ustaz.muhammed.amin.reader.Reader"
            android:exported="false" />
        <activity
            android:name="ustaz.muhammed.amin.detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name="ustaz.muhammed.amin.parts.PartActivity"
            android:exported="false" />
        <activity
            android:name="ustaz.muhammed.amin.courses.CourseActivity"
            android:exported="false" />
        <activity
            android:name="ustaz.muhammed.amin.ustaz.UstazActivity"
            android:exported="false" />
        <activity
            android:name="ustaz.muhammed.amin.MainActivity"
            android:exported="false" />
        <activity
            android:name="ustaz.muhammed.amin.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>